html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 62px;
    background: #222;
    padding: 15px;
}

.header a {
    color: #f54555;
    text-decoration: none;
}

.header h1 {
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
}

.sidebar {
    background: #e9e9e9;
    min-height: 100vh;
}

.sidebar-title {
    color: #666666;
}

form {
    color: #666666;
}

.btn.btn-delete {
    color: red;
}
